.booking_form {
    display: none;
    position: fixed;
    z-index: 10; /* Отображение на заднем плане */
    left: 0;
    top: 0;
    width: 100%; /* 100% по ширине */
    height: 100%; /* 100% по высоте */
    overflow: auto; /* Включить прокрутку, если необходимо */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    align-items: center;
    justify-content: center;
}
.left_side {
    height: 665px;
}
.data_info::after {
    display: block;
    content: "";
    top: 10px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #740C11;
    position: relative;
    opacity: 0.9;
    margin-bottom: 70px;
}
.left_side h2 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    color: #9D8665;
    padding-bottom: 11px;
}
.data_info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #710707;
    margin: 0px;
}
.date {
    padding-bottom: 20px;
}
.date input:nth-child(1) {
    width: 46.5%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #030303;
    background: url(../assets/svg/date.svg) no-repeat 15px 15px, url(../assets/svg/arrow.svg) no-repeat 160px;
    margin-right: 22px;
    box-sizing: border-box;
}
.date input:nth-child(2) {
    width: 46.9%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #030303;
    background: url(../assets/svg/time.svg) no-repeat 13px 15px, url(../assets/svg/arrow.svg) no-repeat 155px;
    box-sizing: border-box;
}
.date input::placeholder { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    padding-left: 45px;
    color: #030303;
}
.name {
    background: url(../assets/svg/name.svg) no-repeat 15px 15px;
    width: 100%;
    height: 45px;
    border: 1px solid #030303;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 43px;
}
.name::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    color: #030303;
}
.email {
    background: url(../assets/svg/email.svg) no-repeat 15px 15px;
    width: 100%;
    height: 45px;
    border: 1px solid #030303;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 44px;
}
.email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    color: #030303;
}
.phone {
    background: url(../assets/svg/tel.svg) no-repeat 15px 11px;
    width: 100%;
    height: 45px;
    border: 1px solid #030303;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 44px;
}
.phone::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    color: #030303;
}

  .__select {
    position: relative;
  }
  .__select[data-state=active] .__select__title::before {
    transform: translate(-3px, -50%) rotate(-45deg);
  }
  .__select[data-state=active] .__select__title::after {
    transform: translate(3px, -50%) rotate(45deg);
  }
  .__select[data-state=active] .__select__content {
    opacity: 1;
  }
  .__select[data-state=active] .__select__label + .__select__input + .__select__label {
    max-height: 40px;
    border-top-width: 1px;
  }
  
  .__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    border: 1px solid #030303;
    cursor: pointer;
    box-sizing: border-box;
    background: url(../assets/svg/ballot.svg) no-repeat 15px 15px, url(../assets/svg/arrow.svg) no-repeat 370px;
    padding-left: 43px;
  }
  
  .__select__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 99%;
    background-color: #ffffff;
    border: 1px solid #030303;
    border-top: none;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
}
  
  .__select__input {
    display: none;
  }
  .__select__input:checked + label {
    background-color: #dedede;
  }
  .__select__input:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
  
  .__select__label {
    display: flex;
    align-items: center;
    height: 40px;
    max-height: 0;
    padding: 0 43px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  .__select__label:hover {
    background-color: #E7E7E7 !important;
    color: #030303;
  }
.select_form {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
  }
.ticket_form {
    border: 1px solid #030303;
    box-sizing: border-box;
    width: 100%;
    height: 135px;
    padding: 10px 15px 18px 15px;
  }
.ticket_form h3 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: #9D8665;
  }
.ticket_form h3::after {
    display: inline-block;
    content: "";
    top: 5px;
    height: 2px;
    width: 100%;
    background-color: #740C11;
    position: relative;
    opacity: 0.9;
    margin-bottom: 18px;
  }
.basic_ticket {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
    margin-bottom: 18px;
}
.basic_ticket p {
    margin: 0px 133px 0px 0px;
}
.basic_ticket div {
    width: 105px;
    height: 25px;
    display: flex;
    border: 1px solid #030303;
    box-sizing: border-box;
}
.basic_ticket button {
    background-color: #030303;
    width: 35px;
    height: 24px;
    color: white;
}

.basic_ticket input {
    width: 35px;
    text-align: center;
}
.senior_ticket {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}
.senior_ticket p {
    margin: 0px 126px 0px 0px;
}
.senior_ticket div {
    width: 105px;
    height: 25px;
    display: flex;
    border: 1px solid #030303;
    box-sizing: border-box;
}
.senior_ticket button {
    background-color: #030303;
    width: 35px;
    height: 24px;
    color: white;
}
.senior_ticket input {
    width: 35px;
    text-align: center;
}
.minus {
    padding-bottom: 4px;
}
.right_side {
    width: 530px;
    height: 665px;
    border: 1px solid #030303;
    box-sizing: border-box;
    margin-left: 40px;
    padding: 25px 30px 26px 30px;
    font-family: 'Roboto';
    position: relative;
}
.ticket_info {
    display: flex;
    justify-content: space-between;
}
.ticket_info h3 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #272727;
}
.ticket_info p {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #740C11;
    opacity: 0.9;
    margin: 4px 0px 10px 0px;
}
.ticket_info_wrapper {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #030303;
}
.ticket_info_img {
    width: 150px;
    height: 120px;  
}
.ticket_info div {
    padding-bottom: 6px;
}
.ticket_info div img {
    display: inline-block;
    margin-right: 9px;
}
.count_tickets {
    margin-top: 10px;
}
.count_tickets_1 input {
    background: #030303;
    width: 32px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #A4A4A3;
    margin-bottom: 7px;
}
.count_tickets_2 input {
    background: #030303;
    width: 32px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #A4A4A3;
}
.count_tickets_1 span {
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}
.span_1 {
    display: inline-block;
    margin-right: 267px;
}
.count_tickets_2 span {
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}
.span_2 {
    display: inline-block;
    margin-right: 259px;
}
.count_tickets_2::after {
    display: block;
    content: "";
    top: 10px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #740C11;
    position: relative;
    opacity: 0.9;
    margin-bottom: 18px;
}
.total span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #030303; 
    display: inline-block;
    margin-right: 321px;
}
.total input {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #030303;
}
.card {
    width: 360px;
    height: 211px;
    background: #BCBCBC;
    margin-top: 11px;
    border-radius: 4px;
    padding: 15px 19px;
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
    z-index: 2;
}
.visa {
    position: absolute;
    left: 285px;
    top: 34px;
}
.mastercard {
    position: absolute;
    left: 287px;
    top: 65px;
}
.card p {
    margin: 0px;
}
.card_number {
    padding-bottom: 5px;
}
.card_number_input {
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    width: 215px;
    height: 35px;
    box-sizing: border-box;
    padding: 10px;
}
.card_date {
    padding-top: 10px;
    padding-bottom: 5px;
}
.card_date_input1 {
    width: 100px;
    height: 35px;
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.card_date_input2 {
    width: 100px;
    height: 35px;
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    box-sizing: border-box;
    padding: 10px;
}
.card_name {
    padding-top: 10px;
    padding-bottom: 5px;
}
.card_name_input {
    width: 320px;
    height: 35px;
    background: #FFFFFF;
    border: 0.567px solid #A4A4A3;
    box-sizing: border-box;
    padding: 10px;
}
.card2 {
    width: 360px;
    height: 211px;
    background: #939393;
    position: absolute;
    border-radius: 4px;
    top: 355px;
    left: 140px;
    z-index: 1;
}
.black_block {
    width: 360px;
    height: 45px;
    background: #161615;
    margin-top: 25px;
}
.cvc {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 274px;
    font-size: 12px;
    line-height: 14px;
    color: #161615;
}
.cvc_input {
    width: 75px;
    height: 35px;
    background: #FFFFFF;
    border: 0.5px solid #A4A4A3;
    margin-left: 265px;
    padding: 10px;
    box-sizing: border-box;
}
.notice_cvc {
    font-size: 10px;
    line-height: 12px;
    color: #161615;
    margin-left: 275px;
    width: 55px;
    height: 50px;
    margin-top: 5px;
}
.book {
    width: 220px;
    height: 45px;
    background: #710707;
    opacity: 0.9;
    display: inline-block;
    margin-left: 250px;
    margin-top: 56px;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 5px;
    transition: 1s;
    position: relative;
}
.book:hover {
    background: #9D8665;
    color: black;
}
.close_form {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
}
.wrapper_forms {
    position: relative;
    background-color: #FFFFFF;
    position: fixed; /* положение */
    -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    width: 1440px;
}
.forms {
    display: flex;
    justify-content: center;
    max-width: 1450px;
    margin: 0 auto;
    height: 845px;
    align-items: center;
}

@media screen and (max-width: 1445px) {
    .wrapper_forms {
        width: 1024px;
    }
    .forms {
        height: 768px;
        padding-top: 30px;
        box-sizing: border-box;
    }
    .close_form {
        right: 27px;
    }
    .data_info::after {
        margin-bottom: 60px;
    }
    .left_side {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper_forms {
        width: 590px;
        overflow: auto;
        height: 100%;
    }
    .forms {
        flex-direction: column;
        height: 1479px;
        padding-top: 0px;
        justify-content: stretch;
    }
    .left_side {
        width: 100%;
        padding: 0px 30px;
        box-sizing: border-box;
        margin-top: 80px;
        margin-bottom: 35px;
    }
    .left_side h2 {
        padding-bottom: 20px;
    }
    .data_info::after {
        margin-bottom: 45px;
    }
    .date input:nth-child(1) {
        margin-right: 31px;
        background: url(../assets/svg/date.svg) no-repeat 15px 15px, url(../assets/svg/arrow.svg) no-repeat 215px;
    }
    .date input:nth-child(2) {
        background: url(../assets/svg/time.svg) no-repeat 13px 15px, url(../assets/svg/arrow.svg) no-repeat 215px;
    }
    .__select__title {
        background: url(../assets/svg/ballot.svg) no-repeat 15px 15px, url(../assets/svg/arrow.svg) no-repeat 495px;
    }
    .basic_ticket p {
        margin: 0px 266px 0px 0px;
    }
    .senior_ticket p {
        margin: 0px 260px 0px 0px;
    }
    .right_side {
        margin-left: 0px;
        padding: 25px 15px 25px 15px;
        width: 90%;
    }
    .span_1 {
        margin-right: 297px;
    }
    .span_2 {
        margin-right: 289px;
    }
    .total span {
        margin-right: 351px;
    }
    .card2 {
        left: 150px;
    }
    .book {
        margin-left: 275px;
    }

}

@media screen and (max-width: 768px) {
    .wrapper_forms {
        width: 420px;
        overflow-x: hidden;
    }
    .forms {
        height: 1754px;
        justify-content: stretch;
    }
    .left_side {
        margin-top: 80px;
        height: 690px;
        margin-bottom: 49px;
    }
    .left_side h2 {
        font-size: 32px;
        line-height: 35px;
    }
    .date input:nth-child(1) {
        width: 100%;
        margin-bottom: 20px;
        background: url(../assets/svg/date.svg) no-repeat 15px 15px, url(../assets/svg/arrow.svg) no-repeat 325px;
    }
    .date input:nth-child(2) {
        width: 100%;
        background: url(../assets/svg/time.svg) no-repeat 13px 15px, url(../assets/svg/arrow.svg) no-repeat 325px;
    }
    .__select__title {
        background: url(../assets/svg/ballot.svg) no-repeat 15px 15px, url(../assets/svg/arrow.svg) no-repeat 330px;
    }
    .basic_ticket p {
        margin: 0px 96px 0px 0px;
    }
    .senior_ticket p {
        margin: 0px 89px 0px 0px;
    }
    .right_side {
        width: 85%;
        height: 885px;
    }
    .ticket_info_img {
        width: 120px;
        height: 96px;
    }
    .span_1 {
        margin-right: 125px;
    }
    .span_2 {
        margin-right: 117px;
    }
    .total span {
        margin-right: 178px;
    }
    .card {
        width: 330px;
        height: 209px;
    }
    .card2 {
        position: static;
        width: 330px;
        height: 209px;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }
    .visa {
        left: 260px;
    }
    .mastercard {
        left: 260px;
    }
    .card_name_input {
        width: 290px;
    }
    .black_block {
        width: 330px;
        display: block;
        margin-top: 25px;
    }
    .cvc_input {
        margin-left: 235px;
    }
    .cvc {
        margin-left: 244px;
    }
    .notice_cvc {
        margin-left: 249px;
    }
    .book {
        margin-top: 40px;
        margin-left: 110px;
        font-size: 20px;
        line-height: 23px;
    }
}

@media screen and (max-width: 419px) {
    .wrapper_forms {
        width: 320px;
        
    }
    .basic_ticket p {
        margin: 0px 10px 0px 0px;
        font-size: 16px;
    }
    .senior_ticket p {
        margin: 0px 4px 0px 0px;
        font-size: 16px;
    }
    .ticket_info_img {
        width: 90px;
        height: 76px;
    }
    .count_tickets_1 .span_1 {
        font-size: 18px;
        margin-right: 61px;
    }
    .count_tickets_2 .span_2 {
        font-size: 18px;
        margin-right: 55px;
    }
    .total span {
        margin-right: 93px;
    }
    .card {
        width: 240px;
        height: 180px;
    }
    .card2 {
        width: 240px;
        height: 180px;
    }
    .visa {
        display: none;
    }
    .mastercard {
        display: none;
    }
    .card_number_input {
        width: 205px;
        height: 20px;
    }
    .card_date_input2 {
        width: 94.5px;
        height: 25px;
    }
    .card_date_input1 {
        width: 94.5px;
        height: 25px;
    }
    .card_name_input {
        width: 205px;
        height: 20px;
    }
    .black_block {
        width: 100%;
    }
    .cvc {
        margin-left: 165px;
    }
    .cvc_input {
        margin-left: 150px;
    }
    .notice_cvc {
        margin-left: 165px;
    }
    .book {
        margin-left: 10px;
    }
}